<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<div class="demo">
    <div class="d">
        <div class="rw">
            <div class="col-md-15">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="d">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{orders[i][0]}}" aria-expanded="true" aria-controls="collapseOne">
                                    Ürünler
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{orders[i][0]}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Adet</th>
      <th scope="col">Fiyat</th>
    </tr>
  </thead>
  <tbody>

    {% for a in range(0,uzunluk)%}
    <tr>
      <th></th>
      <td>{{orderItemList[i][a-1][1]}}</td>
      <td></td>
      <td>10 ₺</td>
    </tr>
    {% endfor %}


  </tbody>
</table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>